<div class="activities-wrapper">
  <div class="searchDiv">
    <strong>Refine search: </strong><input type="text" class="search_box" placeholder="Enter activity name" ng-model="filterBy.title">
  </div>
    <section class="activity-card" ng-repeat="activity in activities  | filter: filterBy">
      <br>
        <div class='image-container'>
            <img src="{{activity.largeImageURL}}" alt="{{data.title}}">
        </div>
        <div class='location-inner-left'>
            <h1>{{activity.title}}</h1>
            <h4>For More Information: {{activity.supplierName}}</h4>
            <h6><a ui-sref="reviews">Reviews</a><h6>
    </div>
    <div class="location-inner-right">
          <h2><strong>Price:</strong> {{activity.fromPrice}}</h2>
    </div>
</section>
</div>
