<div class="homegreeting">

  <div>
    <img src="../images/450-78384762-trekking-outdoor-activity.jpg" alt="Hiker">
  </div>
  <div>
    <h1><font color="red">Get up and <span>DoSum</span>.</font></h1>
    Church-key coloring book organic, chillwave heirloom actually live-edge etsy. Meditation williamsburg selvage sriracha pork belly, lomo af blog beard pinterest. Air plant fashion axe fam, af hashtag ennui pitchfork gochujang. Stumptown chia vegan dreamcatcher, shabby chic jean shorts gochujang. Williamsburg fanny pack iPhone freegan, schlitz post-ironic roof party yuccie typewriter quinoa. Roof party literally biodiesel vegan fap. Live-edge sustainable pickled, viral pabst hella small batch.
  </div>

</div>
